<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>Current budget:</p>
    <div *ngIf="!currentBudget">
        You do not have a budget for the current month. <a href="#" (click)="generateCurrentBudget()">Click here</a> to generate a new budget.
    </div>
    <app-budget-detail-display *ngIf="currentBudget" [budget]="currentBudget"></app-budget-detail-display>
    <h2>Previous budgets</h2>
    <div>
        <ul>
            <li *ngFor="let budget of budgets">{{budget | budgetDateDisplay}}</li>
        </ul>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>